<div class="grid-container">
    <div class="grid-item">
        <h1>Component with Signal</h1>
    </div>
    <div class="grid-item">
        <h3>Counter: {{counter()}}</h3>
    </div>
    <div class="grid-item">
        <h3>Double Counter: {{doubleCounter()}}</h3>
    </div>
    <div class="grid-item">
        <ul *ngFor="let action of actions()">
            <li>{{action}}</li>
        </ul>
    </div>
    <div class="grid-item">
        <div class="grid-containerButtons">
            <div class="grid-item">
                <app-button [text]="'Increment Counter'" [click]="increment" />
            </div>
            <div class="grid-item">
                <app-button [text]="'Decrement Counter'" [click]="decrement" />
            </div>
        </div>
    </div>
    <div class="grid-item button-goBack">
        <app-button [text]="'Go Back'" routerLink="/" />
    </div>
</div>